[submodule "shared-module"]
	path = shared-module
	url = https://github.com/flathub/shared-modules.git
[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
